* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  background-image: url("./wallpaper.png");
}

section{
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.date-area {
  margin: 5px 2%;
  font-weight: 600;
  font-size: 20px;
}

.canvas-container {
  position: relative;
  width:  calc(100% - 40px);
  height: 300px;
  overflow: hidden;
  margin:20px;
}

h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  /* background-color: rgb(184, 6, 255); */
  background: url("./header.jpg");
}

.ranking {
  padding: 5px 2%;
  font-size: 16px;
  font-weight: 600;
}

.d-ranking-list{
  max-height: 355px;
  list-style:  none;  /* デフォルトのアイコンを消す */
  margin:  0;         /* デフォルト指定上書き */
  padding: 0;         /* デフォルト指定上書き */
  overflow: hidden;
  overflow-y: auto;
}

.d-rank:before {
  content:  "";     /* 空の要素作成 */
  width: 20px;                /* 幅指定 */
  height: 20px;               /* 高さ指定 */
  display:  inline-block;     /* インラインブロックにする */
  background-color: #0074bf;  /* 背景色指定 */
  position:  relative;        /* 位置調整 */
  top: 3px;                   /* 位置指定 */
  border-radius:  50%;        /* 要素を丸くする */
  margin-right: 5px;          /* 余白指定 */
}

.d-rank {
  padding:  10px;             /* 余白指定 */
  background-color:  #65ace4; /* 背景色指定 */
  border-radius:  10px;       /* 角丸指定 */
  margin-bottom: 5px;         /* 要素と要素の間指定 */
  color: #fff;                /* 文字色指定 */
  font-size:  1rem;           /* 文字サイズ指定 */
  overflow-wrap: break-word;
}

.tomato-user {
  margin: 5px 3%;
  font-size: 18px;
  font-weight: 600;
}

.memo {
  text-align: center;
  font-size: 16px;
  color: #0074bf;
  font-weight: 800;
}